/* Cabeçalho */
header {
    background-color: #ffbe0d;
    background: linear-gradient(to bottom, rgb(248, 193, 10) , rgb(250, 172, 69));
    box-shadow: 0 10px 16px rgb(0, 0, 0) ;
    padding: 20px;
    position: relative; 
}

.logo {
    width: 150px;
    height: auto;
}

h1 {
    color: #fff;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Barra de Pesquisa */
.search-container {
    position: absolute;
    top: 50%;
    left: 1450px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: auto;
    overflow: hidden;
    transition: width 0.3s ease;
}

#searchInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.expanded {
    width: calc(100% - 30px);
}

.search-container img {
    width: 30px;
    height: 30px;
    margin-right: 5px; 
    cursor: pointer; 
}

/* Conteúdo */
#carouselExampleIndicators img {
    width: 700px;
    height: 500px;
}

.container_produtos {
    width: 80%;
    height: 500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    .container_produtos{
        width: 90%;
    }
}


.produtos {
    width: 800px;
    height: 500px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.prod {
    margin: 10px;
}

.prod img {
    height: 60px;
    width: 60px;
}

